<!DOCTYPE html>
<html lang="en">

<head> <%- include('../partials/head.ejs') %> </head>

<body>

  <%- include('../partials/navbar.ejs'); %>

    <div>
      <h1>Utility form</h1>
      <ul>
        <li>
          Full name:</li>
        <li>
          Born:</li>
        <li>
          Age:</li>
      </ul>
    </div>
</body>

</html>