<ul>
  <li><a href="/room" class="active">Home</a></li>
  <li><a href="/utility">Utilities</a></li>
  <li><a href="/room/form">Create room</a></li>
  <li><a href="">Contact</a></li>
  <li style="float:right"><a class="active" href="#">About</a></li>
</ul>