<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello student</title>
</head>

<body>
  <div>
    <h1>xin chao vietnam</h1>
    <ul>
      <li>
        Full name:
        <b>
          <%= fullname %>
        </b>
      </li>
      <li>
        Born:
        <b>
          <%= born %>
        </b>
      </li>
      <li>
        Age:
        <b>
          <%= age %>
        </b>
      </li>
    </ul>
  </div>
</body>

</html>